html, body {
	font-family: sans-serif;
	text-transform: uppercase;
	cursor: default;
	overflow: hidden;
}

.main-navigation {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 95%;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (max-width: 620px) {
	.main-navigation {
		display: none;
	}
}

.main-navigation a {
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	width: 10px;
	height: 10px;
	margin: 5px 0;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-color: #555;
	border: 5px solid #555;
}

a.active {
	text-decoration: none;
	background-color: #fff;
}

.full-page {
	width: 100%;
	height: 100vh;
}

.full-page h2 {
	display: inline-block;
	vertical-align: top;
	font-size: 8vw;
}

.full-page:nth-of-type(2n+1) {
	background-color: #222;
	color: #fff;
}

.full-page:nth-of-type(2n) {
	background-color: #fff;
	color: #000;
}

.container {
	text-align: center;
	padding-top: 20%;
}
.container p {
	text-transform: none;
	font-family: 'Play', sans-serif;
	font-size: 22px;
}

.full-page:nth-of-type(1) p {
	display: inline-block;
	vertical-align: top;
	margin-top: 15%;
	font-size: 26px;
	text-transform: inherit;
	border-bottom: 2px solid #993333;
	padding-bottom: 2px;
}

.full-page:nth-of-type(1) h2 {
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
}

@media (max-width: 620px) {
	.container {
		padding-top: 5px;
	}
	.container h2 {
		font-size: 58px;
		margin-top: 10px;
		margin-bottom: 40px;
	}
	.full-page:nth-of-type(1) p {
		margin-top: 60%;
		border: none;
	}
}

.feature-block {
	display: inline-block;
	vertical-align: top;
	max-width: 300px;
	width: 100%;
	margin: 0 100px;
}

@media (max-width: 620px) {
	.feature-block {
		margin: 0;
	}
}

.link-to-start {
	font-size: 8vw;
	font-weight: 700;
}

.link-to-start a {
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	padding: 20px 50px;
	color: #000;
	background-color: #fff;
	border: 5px solid #000;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.link-to-start a:hover {
	color: #fff;
	background-color: #000;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}