html, body {
	width: 100%;
	background-color: #fff;
	font-family: 'Play', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

.main-menu {
	padding: 25px;
	text-align: center;
	background: #f2f2f2 url(../img/bg.png) repeat;
	border-bottom: 2px solid #555;
	-webkit-box-shadow: 0px 20px 15px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 20px 15px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 20px 15px 0px rgba(50, 50, 50, 0.5);
}

.main-menu h2 {
	font-size: 100px;
	margin-bottom: 20px;
}

@media (max-width: 820px) {
	.main-menu h2 {
		font-size: 70px;
	}
}

.main-link {
	display: inline-block;
	vertical-align: top;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 50px 10px;
}

.main-link:nth-of-type(1) {
	background-color: #B70000;
}

.main-link:nth-of-type(2) {
	background-color: #006700;
}

.main-link a {
	text-decoration: none;
	display: block;
	width: 400px;
	padding: 5px;
	color: #fff;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.main-link a:hover {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.main-link:nth-of-type(1) a:hover {
	background-color: #FF0000;
}

.main-link:nth-of-type(2) a:hover {
	background-color: #5DA130;
}

@media (max-width: 920px) {
	.main-link {
		font-size: 26px;
		margin: 5px;
	}
	.main-link a {
		max-width: 260px;
	}
}

.popup-titile b {
	display: block;
	text-align: left;
	font-size: 42px;
	text-transform: uppercase;
	border-bottom: 3px solid #000;
	padding-bottom: 3px;
	margin-bottom: 23px;
}

.list {
	color: #444;
	text-align: left;
	font-size: 18px;
	line-height: 26px;
}

.list a {
	color: #555;
	text-decoration: none;
}

.list a:hover {
	color: #000;
	text-decoration: underline;
}

.popup-one, .popup-two {
	max-width: 960px;
	margin: 0 auto;
}

.popup-one, .popup-two, .off-main-class {
	display: none;
}

.active {
	display: block;
}

.close-popup {
	text-decoration: none;
	color: #000;
	position: absolute;
	left: 84%;
	opacity: 0.6;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.close-popup:hover {
	opacity: 1;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

@media (max-width: 365px) {
	.close-popup {
		left: 80%;
	}
}

.line {
	margin: 15px 0;
	color: #555;
	opacity: 0.5;
}

.center-block {
	display: block;
	text-align: center;
}

.wrapper {
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.main {
	padding: 0 15px;
	font-size: 20px;
	line-height: 24px;
}

.main-header {
	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
	font-size: 32px;
}

.main-header h1 {
	margin: 10px 0;
	padding-bottom: 5px;
	border-bottom: 2px solid #000;
}

@media (max-width: 500px) {
	.main-header {
		font-size: 5vw;
	}
}